.carousel_item {
  min-width: 70%;
  padding: 10px ;
  img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: contain;
    pointer-events: none;
  }
}
.inner_carousel {
  display: flex;
  background: transparent;
  border-radius: 10px;
  height: fit-content;
}
.carousel {
  cursor: grab;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}
