@import '../../../styles/variables.scss';
.form_container {
  &.MuiBox-root {
    height: 100vh - 21vh;
    margin-top: 21vh;
    margin-inline: auto;
    width: 50%;
    @include breakpoint(sm) {
      width: 95%;
      margin-inline: auto;
    }
  }
}
.form_textField {
  &.MuiTextField-root {
    background-color: white;
    width: 100%;
    margin-bottom: 0.5rem;
    border-radius: 10px;
  }
}
.form_textField_button {
  &.MuiTextField-root {
  border-radius: 10px;
  background-color: blanchedalmond;
  width: 100%;
  cursor: pointer;
  }
}
.form_input {
  &.MuiInputBase-root {
    height: 56px;
    background-color: white;
    width: 100%;
    margin-bottom: 0.5rem;
    border-radius: 10px;
  }
}
