@import '../../styles/variables.scss';

.container {
  background: url('../../assets/images/jpg/Background.jpg') 0 0 / cover
    no-repeat;
  min-height: 90vh;
  margin: 0;
  text-decoration-style: solid;
  overflow: hidden;
}
.title_container {
  padding-top: 100px;
  width: 30%;
  @include breakpoint(sm) {
    width: 100%;
  }
}
.title {
  margin-bottom: 150px;
  font-size: 40px;
  font-style: italic;
  color: #eee;
  @include breakpoint(sm) {
    font-size: 20px;
    margin-bottom: 150px;
  }
}
.slider_container_main {
  position: relative;
  left: 50%;
  @include breakpoint(sm) {
    left: 0;
  }
}
