.container{
    background: url('../../assets/images/jpg/Background.jpg')   0 0/cover no-repeat;
    height: 100vh;
    margin: 0;
    text-decoration-style: solid ;
}
.slider_container{
    left: 25%;
}